on:
 push:
   branches: [ main ]

 pull_request:
    branches: [ main ]
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
    
    
    - name: Deploy S3
      uses: laertep/aws-s3-cloud@master
      with:
       args: --acl public-read --follow-symlinks --delete 
       
    - name: terraform running
      
      env:
       aws_bucket_name: buckets3laerte
       aws_access_key: ${{ secrets.aws_access_key }}
       aws_secret_key: ${{ secrets.aws_secret_key }}
       aws_region: us-east-1
   
      run: |
        terraform init
        terraform plan -auto-approve
        terraform apply -auto-approve
      

    
  
    
   
      
    
      
     
